* {
    transition: all 0.1s linear;
    user-select: none; 
}

body {
    background-color: #850404;
    div {
        display: flex;
        width: 1000px;
        margin: auto;
    
        button {
            border: none;
            outline: none;
            background-color: unset;
        }
    
        .arrow {
            border: solid black;
            border-width: 0 7px 7px 0;
            display: inline-block;
            padding: 10px;
        }
    
        .right {
            transform: rotate(-45deg);
            -webkit-transform: rotate(-45deg);
        }
    
        .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        }
    
        button:active:first-child i {
            transform: rotate(100deg);
        }
    
        button:active:last-child i {
            transform: rotate(-10deg);
        }
    
        section {
            width: 920px;
            height: 450px;
            background-color: black;
            img {
                width: 920px;
                height: 450px;
                position: absolute;
                transition: transform 20s;
                transition-duration: 10s;
                pointer-events: none;
            }
        }
    }
}